{
    "presets": [
        ["env", {
            "targets": {
                "node": "current"
            }
        }],
        "flow"
    ],
    "env": {
        "production": {
            "presets": ["minify"]
        }
    },
    "retainLines": true,
    "plugins": [
        ["inline-json"]
    ],
    "ignore": [
        "__snapshots__",
        "*.test.*"
    ]
}
