{
    "parser": "babel-eslint",
    "extends": ["plugin:jest/recommended", "airbnb-base"],
    "rules": {
      "consistent-return": "off",
      "linebreak-style": "off"
    },
    "env": {
      "node": true
    },
    "plugins": ["jest"]
}